# SUPABASE BACKEND CONFIGURATION
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# GOOGLE MAPS CONFIGURATION (Optional for dev, to be configured later)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
